name: Update README cards

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Profile folder existence
        run: mkdir -p profile

      - name: Generate stats card from Vercel instance
        run: |
          curl -L -s \
          "https://github-readme-stats-kappa-seven-26.vercel.app/api?username=${{ github.repository_owner }}&show_icons=true&theme=dark&hide=prs,issues&commits_year=2026&count_private=true" \
          -o profile/stats.svg

      - name: Commit cards
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/stats.svg
          git commit -m "Update README cards" || exit 0
          git push